.container
  %ul
    - @board.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @board, url: board_path(@board), method: 'put', local: true ) do |f|
    = f.label :title, 'タイトル'
    %br
    = f.text_field :title, class: 'text'
    = f.label :content, '内容'
    %br/
    = f.text_area :content, class: 'content-text'
    = f.submit 'submit', class: 'btn-primary'